body
{
	padding:0;
	margin:0;
	background-color:#ccc;
 }
 #wrapper
	 {
	 	width: 1300px;
	 	background-color: #fff;
	 	margin: 0px auto;
	 	min-height: 500px;
   }
   .center
   {
   	text-align: center;
   }
